header > div .navbar-links, header > div .navbar-buttons, header > div .navbar-buttons #user-btn, .hero-section .hero-content, .hero-section .hero-content .hero-text .hero-btns, .hero-section .hero-content .hero-text .hero-btns > button, .hero-section .hero-content .hero-control, .discover-section > div, .deals-section > div > div > ul, .deals-section > div > div > ul > li, .deals-section > div > div > ul > li > div, .deals-section > div > div > ul > li > div > button:first-of-type, .news-section > div > div, .news-section > div > div > div:first-child, .series-section > div .series > div > ul > li > div:first-child, .series-section > div > div:last-child, .testimonials-section > div, .ig-section > div > ul, footer > div > div:nth-child(2) > span, footer > div > div:nth-child(2) > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Taviraj", serif;
  color: #333;
}

body {
  background-color: #f7f6f4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 2.25rem;
  letter-spacing: 0.02rem;
}

.section-title {
  font-weight: 500;
  background: linear-gradient(black, black) bottom left no-repeat;
  background-size: 3.5em 1px;
  display: inline-block;
  margin-bottom: 2.5em;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  letter-spacing: 0.03rem;
}

a {
  text-decoration: none;
  letter-spacing: 0.03rem;
}

ul {
  list-style: none;
}

header > div {
  padding: 2.5em 10.3125em;
  margin-bottom: 3em;
}

header > div > nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr;
  align-items: center;
  letter-spacing: 0.02rem;
}

header > div .navbar-links {
  justify-content: center;
}

header > div .navbar-links > li > a {
  color: #333;
  font-size: 1.25rem;
  margin: 0 0.5em;
  padding: 0 0.5em;
}

header > div .navbar-buttons #user-btn {
  cursor: pointer;
}

header > div .navbar-buttons #user-btn > span {
  font-size: 1.125rem;
  margin-left: 0.5em;
}

.hero-section {
  position: relative;
  margin-bottom: 12em;
}

.hero-section > img {
  position: absolute;
  right: 0;
  top: -22%;
  z-index: 1;
}

.hero-section .hero-content {
  padding: 2em 0 0;
  position: relative;
  margin: 0 10.3125em;
  background-color: #F1DDC9;
}

.hero-section .hero-content > img {
  margin-left: 0.5em;
  position: relative;
  bottom: -75px;
}

.hero-section .hero-content .hero-text {
  z-index: 150;
  margin: 1.5em 11em 0 3em;
}

.hero-section .hero-content .hero-text > h1 {
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 1.3em;
}

.hero-section .hero-content .hero-text > hr {
  width: 20%;
  margin: 0.5em 0 1em;
  border-top: none;
  border-color: #000;
}

.hero-section .hero-content .hero-text > p {
  margin: 1.5em 0 1em;
  line-height: 1.4em;
}

.hero-section .hero-content .hero-text > a {
  border-bottom: 1px solid #333;
  font-weight: 600;
  letter-spacing: 0.03rem;
}

.hero-section .hero-content .hero-text .hero-btns {
  justify-content: flex-start;
  margin: 3em 0;
}

.hero-section .hero-content .hero-text .hero-btns > button {
  border: 2px solid #D84727;
}

.hero-section .hero-content .hero-text .hero-btns > button:first-child {
  margin-right: 1em;
  padding: 0.875em 2.5em;
  background-color: #D84727;
}

.hero-section .hero-content .hero-text .hero-btns > button:first-child > img {
  margin-right: 1em;
}

.hero-section .hero-content .hero-text .hero-btns > button:first-child > span {
  font-size: 1.25rem;
  color: #fff;
}

.hero-section .hero-content .hero-text .hero-btns > button:last-child {
  padding: 0.875em 2.75em;
}

.hero-section .hero-content .hero-control {
  position: absolute;
  right: 3%;
  bottom: -5%;
}

.hero-section .hero-content .hero-control > button {
  border: 2px solid #D84727;
  padding: 1.125em 1.5em;
}

.hero-section .hero-content .hero-control > button:last-child {
  background-color: #D84727;
  margin-left: 1em;
}

.discover-section {
  margin-bottom: 6em;
}

.discover-section > div {
  align-items: stretch;
  padding: 0 10.3125em;
}

.discover-section > div > div:first-child {
  margin-right: 1em;
}

.discover-section > div > div:last-child {
  margin-left: 1em;
}

.discover-section > div > div {
  background-color: #fff;
  padding: 2em 0.5em 0 2em;
  height: 16.875em;
  width: 50%;
  min-width: 475px;
  position: relative;
}

.discover-section > div > div > div {
  width: 75%;
}

.discover-section > div > div > div > h2 {
  font-weight: 400;
}

.discover-section > div > div > div > h2 b {
  font-weight: 600;
}

.discover-section > div > div > div > p {
  color: #777;
  margin: 0.5em 0;
  line-height: 1.5em;
}

.discover-section > div > div > div > a {
  font-weight: 600;
  letter-spacing: 0.03rem;
  border-bottom: 1px solid #333;
}

.discover-section > div > div > img {
  position: absolute;
  bottom: 5%;
  right: 0;
}

.deals-section {
  margin-bottom: 6em;
}

.deals-section > div {
  padding: 0 10.3125em;
}

.deals-section > div > div > ul {
  align-items: flex-start;
}

.deals-section > div > div > ul > li {
  background-color: #fff;
  padding: 0 1.5625em 2em;
  width: 23%;
  flex-direction: column;
  align-items: flex-start;
}

.deals-section > div > div > ul > li > img {
  position: relative;
  bottom: 2em;
  margin: 0 auto;
}

.deals-section > div > div > ul > li > h3:first-of-type {
  font-weight: 500;
  width: 100%;
}

.deals-section > div > div > ul > li > p:first-of-type {
  margin: 0.5em 0;
  color: #777;
}

.deals-section > div > div > ul > li > p:last-of-type {
  color: #777;
  text-decoration: line-through;
  text-decoration-color: #d93f3f;
}

.deals-section > div > div > ul > li > h3:last-of-type {
  font-weight: 400;
  margin: 0.5em 0;
}

.deals-section > div > div > ul > li > div {
  align-items: stretch;
  width: 100%;
}

.deals-section > div > div > ul > li > div > button:first-of-type {
  border: 1px solid #D84727;
  width: 3em;
  height: 3em;
  justify-content: center;
}

.deals-section > div > div > ul > li > div > button:last-of-type {
  border: 1px solid #D84727;
  background-color: #D84727;
  font-size: 1rem;
  width: 75%;
  margin-left: 0.5em;
  color: #fff;
}

.news-section {
  margin-bottom: 6em;
  position: relative;
}

.news-section > img {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -5%;
}

.news-section > div {
  padding: 0 10.3125em;
}

.news-section > div > h1 {
  margin-bottom: 0.75em;
}

.news-section > div > div > div:first-child {
  align-items: flex-start;
  flex-direction: column;
  flex: 2;
  padding-right: 3em;
  margin-right: 2em;
}

.news-section > div > div > div:first-child > h4 {
  color: #777;
  font-weight: 400;
}

.news-section > div > div > div:first-child > h1 {
  margin: .5em 0 1.5em;
  font-weight: 400;
}

.news-section > div > div > div:first-child > button {
  font-size: 1rem;
  border: 2px solid #D84727;
  padding: .75em 3em;
  color: #D84727;
}

.news-section > div > div > div:last-child {
  flex: 3;
}

.series-section {
  margin-bottom: 6em;
}

.series-section > div {
  padding: 0 10.3125em;
}

.series-section > div .series {
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.series-section > div .series > div > h1 {
  font-weight: 400;
  background-size: 1.75em 1px;
  margin-bottom: 1.5em;
}

.series-section > div .series > div > ul {
  display: grid;
  column-gap: 1em;
  row-gap: 2em;
}

.series-section > div .series > div > ul > li {
  display: grid;
  grid-template-columns: 8em auto;
  grid-template-rows: 1fr;
}

.series-section > div .series > div > ul > li > div:first-child {
  justify-content: center;
  background-color: #F1DDC9;
  height: 8em;
}

.series-section > div .series > div > ul > li > div:last-child {
  padding-left: 1.5em;
  padding-right: 1em;
}

.series-section > div .series > div > ul > li > div:last-child > h3 {
  font-weight: 400;
  margin: .25em 0 .5em;
}

.series-section > div .series > div > ul > li > div:last-child > p {
  text-decoration: line-through;
  text-decoration-color: #d93f3f;
  margin-bottom: .5em;
}

.series-section > div .series > div > ul > li > div:last-child > h2 {
  font-weight: 500;
}

.series-section > div > div:last-child > span {
  height: 0.3px;
  flex: 1;
  background-color: rgba(153, 153, 153, 0.25);
}

.series-section > div > div:last-child > button {
  height: 3.3em;
  width: 13.6em;
  margin: 0 2em;
  border: 1px solid #D84727;
  font-size: 1.25rem;
  color: #D84727;
}

.testimonials-section {
  margin-bottom: 6em;
  position: relative;
}

.testimonials-section > img {
  position: absolute;
  left: 0;
  top: -10%;
  z-index: -1;
}

.testimonials-section > div {
  padding: 0 10.3125em;
}

.testimonials-section > div > div:first-child {
  flex: 55%;
  align-self: flex-end;
}

.testimonials-section > div > div:first-child > div {
  margin: 2em .5em;
}

.testimonials-section > div > div:first-child > div > button {
  height: 100%;
  vertical-align: middle;
  margin: 0 .75em;
}

.testimonials-section > div > div:last-child {
  flex: 45%;
  margin: 4em 0 7em;
}

.testimonials-section > div > div:last-child > h1 {
  font-weight: 600;
  margin: 0;
}

.testimonials-section > div > div:last-child > p:first-of-type {
  margin: 4em 0;
  line-height: 1.75em;
}

.testimonials-section > div > div:last-child > h3 {
  font-weight: 500;
}

.testimonials-section > div > div:last-child > p:last-of-type {
  font-weight: 300;
  color: #777;
}

.ig-section {
  margin-bottom: 6em;
}

.ig-section > div {
  padding: 0 10.3125em;
}

.ig-section > div > h1 {
  margin-bottom: 1em;
}

.sponsors-section {
  background-color: #DA5E42;
}

.sponsors-section > div {
  padding: 0 10.3125em;
}

.sponsors-section > div > ul {
  padding: 3em 3em 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.sponsors-section > div > ul > li > img {
  margin: auto;
}

footer > div {
  padding: 3em 10.3125em 6em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #D84727;
  column-gap: 2em;
}

footer > div * {
  color: #fff;
}

footer > div > div {
  margin: 0 auto;
}

footer > div .section-title {
  margin-bottom: 1em;
  font-weight: 600;
  background: linear-gradient(white, white) bottom left no-repeat;
  background-size: 2.5em 1px;
}

footer > div > div:nth-child(1) > h4:first-of-type {
  margin-top: 1em;
  font-weight: 500;
}

footer > div > div:nth-child(1) > p:first-of-type {
  margin: 1em 0;
  line-height: 1.75em;
}

footer > div > div:nth-child(1) > h4:last-of-type {
  font-weight: 500;
  margin-bottom: 1em;
}

footer > div > div:nth-child(1) > p:last-of-type {
  line-height: 1.5em;
}

footer > div > div:nth-child(2) > span {
  align-items: flex-start;
  margin-bottom: .5em;
}

footer > div > div:nth-child(2) > span > h4 {
  line-height: 1.75rem;
  flex: 1;
  font-weight: 500;
}

footer > div > div:nth-child(2) > span > a {
  font-size: 1rem;
  margin-left: 1em;
  line-height: 1.75rem;
}

footer > div > div:nth-child(2) > ul {
  justify-content: flex-start;
}

footer > div > div:nth-child(2) > ul > li {
  margin-right: 1.5em;
}

footer > div > div:nth-child(3) > ul > li, footer > div > div:nth-child(4) > ul > li {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
