@import "config";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Taviraj", serif;
	color: #333;
}

body {
	background-color: #f7f6f4;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

img {
	max-width: 100%;
	display: block;
}

h1 {
	font-size: 2.25rem;
	letter-spacing: 0.02rem;
}

.section-title {
	font-weight: 500;
	background: linear-gradient(black, black) bottom left no-repeat;
	background-size: 15% 1px;
	margin-bottom: 2.5em;
	padding-bottom: 10px;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-family: "Nunito", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.03rem;
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

header > div {
	padding: 2.5em 10.3125em;
	margin-bottom: 3em;

	& > nav {
		display: grid;
		grid-template-columns: 20% 60% 20%;
		grid-template-rows: 1fr;
		align-items: center;
		letter-spacing: 0.02rem;
	}

	.navbar-links {
		@extend %flex;
		justify-content: center;
		& > li > a {
			color: #333;
			font-size: 1.25rem;
			margin: 0 0.5em;
			padding: 0 0.5em;
		}
	}

	.navbar-buttons {
		@extend %flex;

		#user-btn {
			@extend %flex;
			cursor: pointer;

			& > span {
				font-size: 1.125rem;
				margin-left: 0.5em;
			}
		}
	}
}

.hero-section {
	position: relative;
	margin-bottom: 12em;
	& > img {
		position: absolute;
		right: 0;
		top: -22%;
		z-index: 1;
	}

	.hero-content {
		padding: 2em 0 0;
		position: relative;
		margin: 0 10.3125em;
		@extend %flex;
		background-color: $secondaryColor;

		& > img {
			margin-left: 0.5em;
			position: relative;
			bottom: -75px;
		}

		.hero-text {
			z-index: 150;
			margin: 1.5em 11em 0 3em;
			& > h1 {
				font-size: 3.75rem;
				font-weight: 400;
				line-height: 1.3em;
			}

			& > hr {
				width: 20%;
				margin: 0.5em 0 1em;
				border-top: none;
				border-color: #000;
			}

			& > p {
				margin: 1.5em 0 1em;
				line-height: 1.4em;
			}

			& > a {
				border-bottom: 1px solid #333;
				font-weight: 600;
				letter-spacing: 0.03rem;
			}

			.hero-btns {
				@extend %flex;
				justify-content: flex-start;
				margin: 3em 0;
				& > button {
					border: 2px solid $primaryColor;
					@extend %flex;
				}

				& > button:first-child {
					margin-right: 1em;
					padding: 0.875em 2.5em;
					background-color: $primaryColor;
					& > img {
						margin-right: 1em;
					}

					& > span {
						font-size: 1.25rem;
						color: #fff;
					}
				}

				& > button:last-child {
					padding: 0.875em 2.75em;
				}
			}
		}

		.hero-control {
			@extend %flex;
			position: absolute;
			right: 3%;
			bottom: -5%;

			& > button {
				border: 2px solid $primaryColor;
				padding: 1.125em 1.5em;
			}

			& > button:first-child {
			}

			& > button:last-child {
				background-color: $primaryColor;
				margin-left: 1em;
			}
		}
	}
}

.discover-section {
	margin-bottom: 6em;
	& > div {
		@extend %flex;
		align-items: stretch;
		padding: 0 10.3125em;

		& > div:first-child {
			margin-right: 1em;
		}

		& > div:last-child {
			margin-left: 1em;
		}

		& > div {
			background-color: #fff;
			padding: 2em 0.5em 0 2em;
			height: 16.875em;
			width: 50%;
			min-width: 475px;
			position: relative;

			& > div {
				width: 75%;
				& > h2 {
					font-weight: 400;
					b {
						font-weight: 600;
					}
				}

				& > p {
					color: #777;
					margin: 0.5em 0;
					line-height: 1.5em;
				}

				& > a {
					font-weight: 600;
					letter-spacing: 0.03rem;
					border-bottom: 1px solid #333;
				}
			}

			& > img {
				position: absolute;
				bottom: 5%;
				right: 0;
			}
		}
	}
}

.deals-section {
	margin-bottom: 6em;
	& > div {
		padding: 0 10.3125em;

		& > div {
			& > ul {
				@extend %flex;
				align-items: flex-start;

				& > li {
					background-color: #fff;
					padding: 0 1.5625em 2em;
					width: 23%;
					@extend %flex;
					flex-direction: column;
					align-items: flex-start;

					& > img {
						position: relative;
						bottom: 2em;
					}

					& > h3:first-of-type {
						font-weight: 500;
						width: 100%;
					}

					& > p:first-of-type {
						margin: 0.5em 0;
						color: #777;
					}

					& > p:last-of-type {
						color: #777;
						text-decoration: line-through;
						text-decoration-color: #d93f3f;
					}

					& > h3:last-of-type {
						font-weight: 400;
						margin: 0.5em 0;
					}

					& > div {
						@extend %flex;
						align-items: stretch;
						width: 100%;

						& > button:first-of-type {
							border: 1px solid $primaryColor;
							width: 3em;
							height: 3em;
							@extend %flex;
							justify-content: center;
						}

						& > button:last-of-type {
							border: 1px solid $primaryColor;
							background-color: $primaryColor;
							font-size: 1rem;
							width: 75%;
							margin-left: 0.5em;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

.news-section {
	margin-bottom: 6em;
	position: relative;

	& > img {
		position: absolute;
		z-index: -1;
		right: 0;
	}

	& > div {
		padding: 0 10.3125em;

		& > h1 {
			margin-bottom: 1.5em;
		}

		& > div {
			@extend %flex;

			& > div:first-child {
				@extend %flex;
				align-items: flex-start;
				flex-direction: column;
				flex: 2;
				padding-right: 3em;
				margin-right: 2em;
				
				& > h4 {
					color: #777;
					font-size: 1.25rem;
					font-weight: 400;
				}
				
				& > h1 {
					margin: .5em 0 1.5em;
					font-weight: 400;
				}
				
				& > button {
					font-size: 1rem;
					border: 2px solid $primaryColor;
					padding: .75em 3em;
					color: $primaryColor;
				}
				
			}
			
			& > div:last-child {
				flex: 3;
			}
			
		}
	}
}
